.td_ash{
    color: #777;
}
.btn_action .fa-pencil-square-o{
    color: green;
    font-size: 20px;
}
.btn_action .fa-eye{
    color: #0056b3;
    font-size: 20px;
    margin-left: 6px;
}
.all_order_Status{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}
@media (min-width: 360px) and (max-width: 576px){
    .all_order_Status{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }
    .orders h5{
        text-align: center;
        font-size: 17px !important;
    }
}
.orders{
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 24px 20px 20px;
}
.orders h5{
    text-align: center;
    font-size: 18px;
}
.orders span{
    text-align: center;
    display: block;
    font-size: 20px;
    color: #777;
}

.brand_div{
    background: #EDBB0E;
    padding: 0px 14px;
    font-weight: 600;
    border-radius: 30px;
    color: #FFF;
}
.custom_select_form{
    width: 100%;
}
del{
    margin-right: 12px;
    color: #dd0000;
}
.cart_btn:disabled {
    background: #d7c2c2;
    cursor: no-drop;
}
.orang_star{
    color: #FDA429;
}
.white_star{
    color: #FFF;
    margin-right: 6px;
}

.most_popular{
    padding: 80px 0 0;
}
.trendy_product{
    padding: 60px 0 0;
}
.random_product{
    padding: 60px 0; 
}

.all_categories_shows{
    padding-bottom: 90px;
}
.category_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product_card{
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
.product_card .images_resize{
   position: relative;
}
.product_card .images_resize .product_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.images_resize .fa-heart{
    position: absolute;
    top: 12px;
    right: -70px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #7FAD39;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.product_card:hover .images_resize .fa-heart{
    right: 12px;
    opacity: 1;
}
.quick_view_link{
    color: darkcyan ;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.product_title a{
    color: #1c1c1c !important;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer; 
}
.quick_view_link a{
    text-decoration: none !important;
    outline: none !important;
    color: darkcyan !important;
}
.category_slides{
    padding: 30px;
    background: #F5F5F5;
    border-radius: 6px;
}
.category_slides .cat_icons{
    width: 110px !important;
    margin: 0 auto;
}
.category_slides h5 a{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
}
.brand_logo{
    padding-top: 75px;
}
.owls_border{
    border: 2px solid #F3F3F3;
    padding: 28px 0px 0 15px;
    border-radius: 8px;
}
.customs-icon{
    color: #B2B2B2;
    margin-left: 30px;
    font-size: 20px;
}
.cat_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
}
.cat_menu #angle_arrow{
    transition: all 0.2s ease-in-out;
}
.subCat_list{
    padding: 0 0 0 20px;
    display: none;
}
.childCat_list{
    padding: 0 0 0 20px; 
}
.subCat_list.show{
    display: block; 
}
.subCat_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    transition: all 0.2s ease-in-out;
}
.subCat_menu #angle_arrow2{
    transition: all 0.2s ease-in-out;
}
.remove_coupon{
    color: #dd2222;
    margin-left: 6px;
}
.remove_coupon:hover .fa-times{
    color: #dd2222;
}
.theme-invoice-1{
    margin-top: 70px;
}
@media (min-width: 360px) and (max-width: 576px){
    .theme-invoice-1{
        margin-top: 30px;
    } 
}
.Grand_total{
    border-top: 1px solid #ddd;
}

.login__section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 0;
}

@media (min-width: 360px) and (max-width: 576px){  
    .login__section{
        padding: 40px 16px;
    }
}

.login__form__box{
    max-width: 440px;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 24px 24px 32px 24px;
    box-shadow: 0px 0px 58px rgba(0,0,0,0.08);
}
.login__form__box h3{
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.input__field{
    width: 100%;
    height: 40px;
    padding-left: 14px;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
}
.login__btn,
.register__btn{
    background: #00B207;
    color: #FFF;
    border: navajowhite;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-weight: 600;
}
.form_check_label{
    color: #666666;
    margin: 0;
    font-size: 14px;
}
.form_check_label:hover{
    color: #666666;
}
.anchor_link{
    color: #191919;
    font-size: 17px;
    font-weight: 600;
}
.anchor_link:hover,
.anchor_link:focus{
    color: #191919; 
}
.error_msg{
   padding: 0;
}
.error_msg li{
    list-style: none;
    color: #ff0000eb;
    font-size: 14px;
}
.verify_email{
    padding: 70px 0;
}
.verify_container{
    box-shadow: 0px 0px 58px rgba(0,0,0,0.25);
    padding: 40px 40px 30px 40px;
    border-radius: 8px;
}
.verify_container p{
    margin-bottom: 20px;
 }
.authenticate_verify{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media ( min-width: 360px ) and ( max-width: 576px ) {
    .verify_container p{
       text-align: justify;
       margin-bottom: 20px;
    }
    .authenticate_verify {
        display: flex;
        flex-direction: column;
    }
}